html,
body {
	min-width: 960px;

	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #ffffff;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
	background: #000000 url("../img/body-by.jpg") 
	no-repeat center top;
	background-attachment: fixed;
}

.inner-page {
	color: #000000;

	background: #f9f6f3 url(../img/pattern-white-price.jpg) repeat;
}

.main-header {
	/*Только для оформления сетки*/
	--min-height: 70px;
	
	margin-bottom: 60px;
	color: #ffffff;
	background: #000000;
}

.inner-page .main-header {
	margin-bottom: 55px;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	
	--color: #ffffff;
	--border: 1px solid green; 
	--background: green;	
}

/*Класс распорка*/
.clearfix::after {
	content: "";
	display: table;
	--display: block;
	clear: both;
	--height: 20px;
	--background-color: white;
	--background-image: linear-gradient(-45deg, 
	white 45%, black 50%, white 55%);
	--background-size: 20px;
	
} 

.main-navigation {
	float: left;
	width: 780px;
	
	min-height: 70px;
	--background: red;
}

.main-navigation ul {
	margin: 0;
	padding: 0;

	list-style: none;
	font-size: 0;
}

.main-navigation li {
	display: inline-block;

	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	padding: 25px 20px;

	color: #ffffff;
	text-decoration: none;
}

.main-navigation a:hover {
	background: #242424;
}

.main-navigation .active {
	position: relative;

	background-color: none;
}

.main-navigation .active a:hover {
	background: none;
}

.main-navigation .active::after {
	content: "";
	position: absolute;
	right: 20px;
	left: 20px;
	bottom: 0;
	--top: 65px;

	--width: 100%;
	height: 5px;

	background-color: #ffffff;
}

.main-navigation .active span {
	display: block;
	padding: 25px 20px;
}

.main-navigation .logo-inner {
	float: left;
	width: 111px;
	height: 20px;
	padding-top: 22px;
}

.main-navigation .logo-inner img {
	width: 111px;
	height: 24px;
}

.main-navigation .logo-inner:hover {
	background: none;
}

.user-block {
	float: right;
	max-width: 140px;
	
	--min-height: 70px;
	--background: gray;
}

.login {
	position: relative;

	display: inline-block;
	padding: 25px 20px;
	padding-left: 50px;

	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
}

.login:hover {
	background: #242424;
}

.login::before {
	content: "";
	--display: block;
	position: absolute;
	top: 28px;
	left: 20px;

	width: 18px;
	height: 18px;

	background: url("../img/icon-login.png") no-repeat;
	background-position: 1px 1px;
	opacity: 0.3;
}

.login:hover::before {
	opacity: 1;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.index-logo img {
	width: 368px;
	height: 204px
}

.features {
	margin-bottom: 80px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right:20px;

	text-align: center;

	--min-height: 175px;
	--background: #e1b96d;
	--border: 1px solid #fff;
}

.features-item:last-child {
	margin-right: 0;
}

.features-name {
	position: relative;

	display: block;
	margin-bottom: 30px;
	padding-bottom: 35px;

	font-size: 30px;
	line-height: 42px;

	--background: rgba(0, 255, 0, 0.25);
}

.features-item p {
	margin: 10px;
	margin-bottom: 0;
}

.features-name::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;

	display: block;
	width:  20px;
	height: 20px;

	background-color: #fff;
	transform: rotate(45deg);
}

.index-content {
	margin-bottom: 35px;
	padding: 50px 80px;

	color: #000000;

	background: url("../img/Index-content-shadow.jpg") no-repeat center,
	#f8f5f2 url("../img/pattern-white.jpg");

}

.index-content-left {
	float: left;
	width: 380px;
	min-height: 330px;
	--background: #eccee8;
}

.index-content-right {
	float: right;
	width: 300px;
	min-height: 330px;
	--background: #ced3ec;
}

.index-content-title {
	margin: 0;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 42px;
}

.index-content p {
	margin: 0;
	margin-bottom: 25px;
}

.news-preview {
	margin: 0;
	padding: 0;
	padding-right: 35px;

	list-style: none;
}

.news-preview li {
	margin-bottom: 25px;
}

.news-preview p {
	margin-bottom: 0;
}

.news-preview time {
	text-transform: none;
	font-weight: 400;
}

.btn {
	display: inline-block;
	margin-right: 16px;
	padding: 10px 33px;

	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #000000;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:hover, 
.btn:active {
	background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #000000;
}

.gallery {
	position: relative;

	height: 260px;
}

.gallery-content {
	height: 164px;
	margin: 0;

	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery-live {
	position: relative;

	height: 260px;
}

.gallery-live .gallery-content {
	height: 164px;
	margin: 0;

	background-color: #cccccc;
	border: 7px solid #ffffff;	
}

.gallery-live .gallery-content a {
	position: absolute;
	top: 7px;
	left: 7px;
}

.gallery-live .gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery-live .btn {
	position: absolute;
	bottom: 0;

	width: 140px;
	margin: 0;
}

.gallery-live .gallery-prev {
	left: 0;
}

.gallery-live .gallery-next {
	right: 0;
}

.appointmen-from input {
	float: left;
	width: 106px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 7px 15px;

	--font-size: 14px;
	--line-height: 24px;
	--font-family: "PT Sans Narrow", "Arial", sans-serif;
	--color: #000000;
	--text-transform: uppercase;

	font: inherit;
	color: inherit;
	text-transform: inherit;

	background-color: #f9f6f3;
	border: 2px solid #000000;
	outline: none;
}

.appointmen-from input:focus {
	border: 2px solid #663d15;
}

.appointmen-from input:nth-child(2n) {
	margin-right: 0;
}

.appointmen-from .btn {
	clear: both;
	width: 100%;
}

.inner-page-title {
	margin-bottom: 55px;
}

.inner-page-title h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;

	list-style: none;
}

.breadcrumbs li {
	position: relative;

	display: inline;
	padding-right: 40px;
}

.breadcrumbs li::after {
	content: "";
	position: absolute;

	height: 8px;
	width: 8px;

	
	right: 18px;
	top: 4px;

	background-color: #000000;
	transform: rotate(45deg);
}

.breadcrumbs .current::after {
	content: none;
	--display: none;
}

.breadcrumbs a {
	color: #000000;
	text-decoration: none;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

.breadcrumbs .current {
	color: #aba9a7;
}

/* Общие стили для контентных тегов*/

.inner-content {
	margin-bottom: 75px;
}

.inner-content h2 {
	margin-top: 60px;
	margin-bottom: 30px;

	font-size: 24px;
	line-height: 30px;
}

.inner-content h3 {
	margin-top: 60px;
	margin-bottom: 30px;

	font-size: 20px;
	line-height: 24px;
}

.inner-content p {
	margin: 24px 0;
}

.inner-content table {
	border-collapse: collapse;
}

.inner-content td {
	padding: 10px 15px;

	border: 2px solid #000000;
}

/*Особые стили для контентных тегов*/

.big-heading {
	margin-top: 55px;
	margin-bottom: 65px;

	text-align: center;
}

.big-heading h2 {
	position: relative;
	z-index: 2;

	display: inline;
	margin: 0;
	padding: 0 25px;

	font-size: 48px;
	line-height: 48px;
	text-align: center;

	background: #f9f6f3 url(../img/pattern-white-price.jpg) repeat;
}

.big-heading::after {
	content: "";
	position: relative;
	top: -25px;
	z-index: 1;
	display: block;
	
	border-bottom: 2px solid #000000;
}

.custom-list-1 {
	margin: 14px;
	padding: 0;

	list-style: none;
}

.custom-list-1 li {
	position: relative;

	margin-bottom: 15px;
	padding-left: 20px;
}

.custom-list-1 li::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 8px;

	width: 8px;
	height: 8px;

	background: #000000;
	transform: rotate(45deg);
}

.price-table {
	width: 100%;
}

.price-table td {
	width: 50%;
}

.price-table td:last-child {
	text-align: center;
}

.short-text {
	padding-right: 80px;
}

/* Колонки для контента */

.inner-columns {
	margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
	width: 460px;
}

.inner-column-left {
	float: left;
}

.inner-column-right {
	float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
	margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
	margin-bottom: 0;
}

/*-------------------------------------------------------*/
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;

	color: #ffffff;
	background: #242424 url("../img/futer.jpg");
}

.footer-contacts {
	float: left;
	width: 320px;
	--min-height: 90px;
	--background: #f7ed50;
	margin-right: 60px;
}
.footer-contacts a {
	color: #ffffff;
}

.footer-contacts a:hover {
	text-decoration: none;
}

.footer-social {
	float: left;
	width: 180px;

	text-align: center;
}

.footer-copyright {
	float: right;
	max-width: 180px;

}

.footer-social p {
	margin: 0;
	margin-bottom: 15px;
}


.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;

	font-size: 0;
	vertical-align: top;
	text-decoration: none;

	--background: #000000 url("vv.png") no-repet center; 
	background: #000000; 

	transition: 
	background-position 0.5s,
	background-color 0.5s;
}

.social-btn-vk {
	background: #000000 url(../img/v.png) no-repeat center;
	--background-position: 50% 50%;
}

.social-btn-fb {
	background: #000000 url(../img/f.png) no-repeat center;
	--background-position: 50% 50%;
}

.social-btn-inst {
	background: #000000 url(../img/i.png) no-repeat center;
	--background-position: 50% 50%;
}

.social-btn:hover {
	--background: #ffff33;
	opacity: 0.2;
	background-position: 0% 0%;

}


.footer-copyright p {
	margin: 0;
	margin-bottom: 15px;

	text-align: center;
}

.footer-copyright .btn {
	margin-right: 0;
}

/* Всплывающая форма */

.modal-content {
	position: absolute;
	top: 120px;
	left: 50%;
    
    z-index: 20;
	display: none; /*всплывающая форма спрятона */
	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;

	color: #000000;

	background: #f8f3f0 url("../img/pattern-white.jpg");
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

@keyframes bounce {

	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}



@keyframes shake {
	0%, 100%                {transform: translateX(0);     }
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px); }
	20%, 40%, 60%, 80%      {transform: translateX(10px);  }
}



.modal-content-map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;

	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;

	background: #e9e5dc url(../img/Map.jpg);
	border: 7px solid white;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-show {
	display: block;

	animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.6s;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);
}

.modal-content-close {
	position: absolute;
	top: 0;
	right: -34px;

	width: 22px;
	height: 22px;

	font-size: 0;

	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;

	width: 19px;
	height: 3px;

	background: #d0d0d0;
	border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.modal-content h2 {
	margin: 0;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 42px;
}

.modal-content p {
	margin: 0;
	margin-bottom: 14px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	
	width: 236px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;

	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000000;
	outline: none;

}

.login-form input:focus {
	border-color: #663915;
}

.login-form input.icon-user {
	background-image: url(../img/user-icon.png);
	background-repeat: no-repeat;
	background-position: 265px 15px;
}

.login-form input.icon-password {
	background-image: url(../img/pass-icon.png);
	background-repeat: no-repeat;
	background-position: 265px 15px;
}

.login-form .restore {
	float: right;

	color: #000000;
}

.login-form .btn {
	width: 100%;
	margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
	display: none;
}

.login-checkbox {
	position: relative;

	padding-left: 30px;

	cursor: pointer;
}

.login-checkbox:hover {
	color: #663d15;
}

.login-checkbox input[type="checkbox"] + 
.checkbox-indicator {
	position: absolute;
	top: -3px;
	left: 0;

	width: 17px;
	height: 17px;

	border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before ,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;

	width: 15px;
	height: 2px;

	background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);
}

/* Всплывающая форма 2*/

